In [2]:
import sys
import os
import pickle
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
sys.path.append(os.path.join("..", "tools"))
print(sys.path)

['d:\\GitHub\\ud120-projects\\final_project', 'c:\\Users\\jhamj\\.vscode\\extensions\\ms-toolsai.jupyter-2021.8.1054968649\\pythonFiles', 'c:\\Users\\jhamj\\.vscode\\extensions\\ms-toolsai.jupyter-2021.8.1054968649\\pythonFiles\\lib\\python', 'C:\\Users\\jhamj\\anaconda3\\python38.zip', 'C:\\Users\\jhamj\\anaconda3\\DLLs', 'C:\\Users\\jhamj\\anaconda3\\lib', 'C:\\Users\\jhamj\\anaconda3', '', 'C:\\Users\\jhamj\\anaconda3\\lib\\site-packages', 'C:\\Users\\jhamj\\anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\jhamj\\anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\jhamj\\anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\jhamj\\anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\jhamj\\.ipython', 'd:\\GitHub\\ud120-projects\\final_project\\tools', '..\\tools']

In [7]:
from feature_format import featureFormat, targetFeatureSplit

In [35]:
### Task 1: Select what features you'll use.
### features_list is a list of strings, each of which is a feature name.
### The first feature must be "poi".
# features_list = ['poi','salary'] # You will need to use more features
financial_features = ['salary', 'deferral_payments', 'total_payments', 'loan_advances', 'bonus', 'restricted_stock_deferred',
    'deferred_income', 'total_stock_value', 'expenses', 'exercised_stock_options', 'other', 'long_term_incentive', 'restricted_stock', 'director_fees']
email_features = ['to_messages', 'from_poi_to_this_person', 'from_messages', 'from_this_person_to_poi', 'shared_receipt_with_poi']
features_list = ['poi'] + financial_features + email_features
print(features_list)

['poi', 'salary', 'deferral_payments', 'total_payments', 'loan_advances', 'bonus', 'restricted_stock_deferred', 'deferred_income', 'total_stock_value', 'expenses', 'exercised_stock_options', 'other', 'long_term_incentive', 'restricted_stock', 'director_fees', 'to_messages', 'from_poi_to_this_person', 'from_messages', 'from_this_person_to_poi', 'shared_receipt_with_poi']

In [36]:
### Load the dictionary containing the dataset
# with open("final_project_dataset.pkl", "r") as data_file:
with open("final_project_dataset.pkl", "rb") as data_file:
    data_dict = pickle.load(data_file)

In [37]:
### Task 2: Remove outliers

# from enron_outliers.py
data_dict.pop("TOTAL", 0)
data_dict.pop("LAY KENNETH L",0)
data_dict.pop("SKILLING JEFFREY K",0)
data_dict.pop("LAVORATO JOHN J",0)
data_dict.pop("FREVERT MARK A",0)

{'salary': 1060932,
 'to_messages': 3275,
 'deferral_payments': 6426990,
 'total_payments': 17252530,
 'loan_advances': 2000000,
 'bonus': 2000000,
 'email_address': 'mark.frevert@enron.com',
 'restricted_stock_deferred': 'NaN',
 'deferred_income': -3367011,
 'total_stock_value': 14622185,
 'expenses': 86987,
 'from_poi_to_this_person': 242,
 'exercised_stock_options': 10433518,
 'from_messages': 21,
 'other': 7427621,
 'from_this_person_to_poi': 6,
 'poi': False,
 'long_term_incentive': 1617011,
 'shared_receipt_with_poi': 2979,
 'restricted_stock': 4188667,
 'director_fees': 'NaN'}

In [38]:
### Task 3: Create new feature(s)
for name in data_dict:
    try:
        data_dict[name]["fraction_from_poi"] = data_dict[name]["from_poi_to_this_person"] / data_dict[name]["from_messages"]
    except:
        data_dict[name]["fraction_from_poi"] = 0.
    try:
        data_dict[name]["fraction_to_poi"] = data_dict[name]["from_this_person_to_poi"] / data_dict[name]["to_messages"]
    except:
        data_dict[name]["fraction_to_poi"] = 0.
features_list = features_list + ["fraction_from_poi", "fraction_to_poi"]

In [39]:
### Store to my_dataset for easy export below.
my_dataset = data_dict

### Extract features and labels from dataset for local testing
data = featureFormat(my_dataset, features_list, sort_keys = True)
labels, features = targetFeatureSplit(data)

In [40]:
pd_data_dict = pd.DataFrame(data)
pd_data_dict

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,0.0,201955.0,2869717.0,4484442.0,0.0,4175000.0,-126027.0,-3081055.0,1729541.0,13868.0,...,304805.0,126027.0,0.0,2902.0,47.0,2195.0,65.0,1407.0,0.021412,0.022398
1,0.0,0.0,178980.0,182466.0,0.0,0.0,0.0,0.0,257817.0,3486.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
2,0.0,477.0,0.0,916197.0,0.0,0.0,-560222.0,-5104.0,5243487.0,56301.0,...,0.0,1757552.0,0.0,566.0,39.0,29.0,0.0,465.0,1.344828,0.000000
3,0.0,267102.0,1295738.0,5634343.0,0.0,1200000.0,0.0,-1386055.0,10623258.0,11200.0,...,1586055.0,3942714.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
4,0.0,239671.0,260455.0,827696.0,0.0,400000.0,-82782.0,-201641.0,63014.0,129142.0,...,0.0,145796.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,0.0,0.0,0.0,84992.0,0.0,0.0,0.0,-25000.0,0.0,1413.0,...,0.0,0.0,108579.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
136,0.0,0.0,0.0,189583.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
137,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,139130.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
138,1.0,158403.0,0.0,360300.0,0.0,0.0,0.0,0.0,11884758.0,53947.0,...,0.0,3576206.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
139,0.0,0.0,0.0,55097.0,0.0,0.0,0.0,0.0,192758.0,55097.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000

In [41]:
pd_features = pd.DataFrame(features)
pd_features

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,201955.0,2869717.0,4484442.0,0.0,4175000.0,-126027.0,-3081055.0,1729541.0,13868.0,1729541.0,...,304805.0,126027.0,0.0,2902.0,47.0,2195.0,65.0,1407.0,0.021412,0.022398
1,0.0,178980.0,182466.0,0.0,0.0,0.0,0.0,257817.0,3486.0,257817.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
2,477.0,0.0,916197.0,0.0,0.0,-560222.0,-5104.0,5243487.0,56301.0,4046157.0,...,0.0,1757552.0,0.0,566.0,39.0,29.0,0.0,465.0,1.344828,0.000000
3,267102.0,1295738.0,5634343.0,0.0,1200000.0,0.0,-1386055.0,10623258.0,11200.0,6680544.0,...,1586055.0,3942714.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
4,239671.0,260455.0,827696.0,0.0,400000.0,-82782.0,-201641.0,63014.0,129142.0,0.0,...,0.0,145796.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,0.0,0.0,84992.0,0.0,0.0,0.0,-25000.0,0.0,1413.0,0.0,...,0.0,0.0,108579.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
136,0.0,0.0,189583.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
137,0.0,0.0,0.0,0.0,0.0,0.0,0.0,139130.0,0.0,139130.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
138,158403.0,0.0,360300.0,0.0,0.0,0.0,0.0,11884758.0,53947.0,8308552.0,...,0.0,3576206.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
139,0.0,0.0,55097.0,0.0,0.0,0.0,0.0,192758.0,55097.0,192758.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000

In [42]:
from sklearn.feature_selection import SelectKBest
selection = SelectKBest().fit(features, labels)
selection.scores_

array([ 9.76067222,  0.05748658,  1.68830582,  0.128223  , 16.70850547,
        0.05867535, 18.01617966, 11.20860825,  5.56796274, 11.87138592,
        0.50302493,  3.99982377,  1.25952205,  1.9065746 ,  0.87288517,
        8.36024626,  0.08522989,  3.77986375,  7.43781678,  6.92965284,
        5.21721463])

In [52]:
best_features = zip(features_list[1:], selection.scores_)
best_features = list(best_features)
print(best_features)

[('salary', 9.760672215946652), ('deferral_payments', 0.0574865771688361), ('total_payments', 1.6883058234057444), ('loan_advances', 0.12822299651567948), ('bonus', 16.708505465916527), ('restricted_stock_deferred', 0.05867535220904876), ('deferred_income', 18.01617965662919), ('total_stock_value', 11.208608245284443), ('expenses', 5.567962744436457), ('exercised_stock_options', 11.871385920224352), ('other', 0.5030249287691765), ('long_term_incentive', 3.9998237715800653), ('restricted_stock', 1.2595220456599645), ('director_fees', 1.9065746011162787), ('to_messages', 0.8728851672170785), ('from_poi_to_this_person', 8.360246260151422), ('from_messages', 0.08522988777035548), ('from_this_person_to_poi', 3.7798637523997742), ('shared_receipt_with_poi', 7.437816778503312), ('fraction_from_poi', 6.929652838692354), ('fraction_to_poi', 5.217214626547457)]

In [57]:
best_features.sort(key = lambda feat: feat[1], reverse= True)
best_features

[('deferred_income', 18.01617965662919),
 ('bonus', 16.708505465916527),
 ('exercised_stock_options', 11.871385920224352),
 ('total_stock_value', 11.208608245284443),
 ('salary', 9.760672215946652),
 ('from_poi_to_this_person', 8.360246260151422),
 ('shared_receipt_with_poi', 7.437816778503312),
 ('fraction_from_poi', 6.929652838692354),
 ('expenses', 5.567962744436457),
 ('fraction_to_poi', 5.217214626547457),
 ('long_term_incentive', 3.9998237715800653),
 ('from_this_person_to_poi', 3.7798637523997742),
 ('director_fees', 1.9065746011162787),
 ('total_payments', 1.6883058234057444),
 ('restricted_stock', 1.2595220456599645),
 ('to_messages', 0.8728851672170785),
 ('other', 0.5030249287691765),
 ('loan_advances', 0.12822299651567948),
 ('from_messages', 0.08522988777035548),
 ('restricted_stock_deferred', 0.05867535220904876),
 ('deferral_payments', 0.0574865771688361)]

In [73]:
select_features = [i[0] for i in best_features[:10]]
select_features

['deferred_income',
 'bonus',
 'exercised_stock_options',
 'total_stock_value',
 'salary',
 'from_poi_to_this_person',
 'shared_receipt_with_poi',
 'fraction_from_poi',
 'expenses',
 'fraction_to_poi']